---
# Run in parallel
run_parallel: 1
# Number of workers for Dask
# n_workers: 24  # For 3D calculations
n_workers: 32
# Threads per worker
threads_per_worker: 1
dask_tmp_dir: '/tmp'
# Start/end date and time
# startdate: 'STARTDATE.1200'
# enddate: 'ENDDATE.0000'
startdate: '20140101.0000'
enddate: '20150101.0000'
# # Ensemble member name
# ensmember: 'ENSMEMBER'
# # wrfout domain name (d01: 500m, d02: 100m)
# domain: 'd02'
# # Resolution: 'meso' or 'les'
# resolution: 'meso'
# Maximum time difference allowed to match the datasets
time_window: 30  # [second]
# Input/output file locations
# Track stats directory
stats_path: /global/cfs/projectdirs/m1657/tais958/PyFLEXTRKR-dev/SAAG_mask/stats/
# Track pixel file directory
pixelfile_path: /global/cfs/projectdirs/m1657/tais958/PyFLEXTRKR-dev/SAAG_mask/celltracking/
# 3D wrfout file directory
# metfile_path: /pscratch/sd/i/iclas2/SAAG/WRF4KM_2000-2020/
# WRF grid file
wrf_gridfile: /pscratch/sd/i/iclas2/SAAG/WRF4KM_2000-2020/wrf_landmask.nc
# Raw WRF output file directory
wrfout_path: /pscratch/sd/i/iclas2/SAAG/WRF4KM_2000-2020/
# Output file directory
output_path: /global/cfs/projectdirs/m1657/tais958/PyFLEXTRKR-dev/SAAG_mask/stats/
# env_path: '/gpfs/wolf2/arm/atm131/proj-shared/zfeng/cacti/les/cell_envs/'
# File base names
pixel_filebase: 'celltracks_'
wrfout_filebase: 'wrfout_d01_'
# methamsl_filebase: 'corlasso_methamsl_STARTDATE00ENSMEMBERd2_CONFIG_M1.m1.'
# cldhamsl_filebase: 'corlasso_cldhamsl_STARTDATE00ENSMEMBERd2_CONFIG_M1.m1.'
# met_filebase: 'corlasso_met_STARTDATE00ENSMEMBERd2_CONFIG_M1.m1.'
# cld_filebase: 'corlasso_cld_STARTDATE00ENSMEMBERd2_CONFIG_M1.m1.'
# rad_filebase: 'corlasso_rad_STARTDATE00ENSMEMBERd2_CONFIG_M1.m1.'
# W thresholds to define cores
W_up_thresh: 1.0  # [m/s]
W_down_thresh: -1.0  # [m/s]
# Hydrometeor thresholds to define moist updrafts
Q_up_thresh: 0.00001 # 0.01/1000  # [kg/kg]
Q_down_thresh: 0.00005 # 0.05/1000  # [kg/kg]
# Minimum pixel count for a core
min_core_npix: 1
# Number of cores to save per cell
ncores_min: 10
# Number of pixel to expand a core to get perimeter
core_expand_dist: 1
# Buffer radius to expand the cell mask to get the core shell / perimeter
core_shell_buffer_radius: 20  # [km]
# Number of hours prior to initiation to extract environment
# Note: This parameter is not used in the simplified version
# The script extracts only 1 time point per track:
# - CI at :00 min → extracts prior hour
# - CI at :15,:30,:45 min → extracts same hour at :00
nhours: 0
# Set domain size to extract environment
# Number of grid point in lon/lat dimension [center-nx, center+nx], [center-ny, center+ny]
# nx: 12
# ny: 12
nx: 4
ny: 4
nz: 149
# Sub-sample spatial grid (2: sample every 2 grids)
sub_x: 1
sub_y: 1
# Fixed location for GoAmazon AMF1 site to extract environment
lat_site: -3.21297
lon_site: -60.5981
# Spatial resolution
DX: 4000
DY: 4000
# Number of grid point to compute center environment profile [-nx_center, +nx_center], [-ny_center,+ny_center]
nx_center: 1
ny_center: 1
# Subset boundary [lon_min, lon_max, lat_min, lat_max]
geolimits: [-61.825, -58.282, -4.936, -1.399]

# List of 2D variables to pass through from the 3D file
list_var_pass:
  - 'conv_core'
  - 'conv_mask'
  - 'dbz_comp'
  - 'echotop10'
  - 'LWP'
  - 'IWP'
  - 'PWV'
  - 'T2'
  - 'Q2'
  - 'PSFC'
  - 'U10'
  - 'V10'
  - 'RAINNC'